.container {
    position: relative;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #2a3451;
    position: relative;
    padding: 0 1rem;
    box-sizing: border-box;
}
.toolbar {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    padding: 0 10px 2rem 10px;
    box-sizing: border-box;
}

.headerTitle {
    margin: 0;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 1rem;
}
.headerText {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 2rem;
    display: -webkit-box;
    max-width: calc(100% - 2rem);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main {
    position: relative;
    padding: 1rem 1rem;
}

.button {
    background-color: #a41034;
    appearance: none;
    min-width: 180px;
    min-height: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    border-width: 0;
    border-radius: 3px;
}

.icon {
    font-size: 1rem;
}

.list {
    border: 1px solid #d5d0ca;
    background-color: #ffffff;
    list-style-type: upper-roman;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    color: #a41034;
}
.item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #d5d0ca;
}
.item:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.topicName {
    position: relative;
    display: flex;
    align-items: center;
}
.topicNameText {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a41034;
    cursor: pointer;
    margin-right: 10px;
}
.topicText {
    font-size: 1.1rem;
    margin-top: .5rem;
    white-space: pre-wrap;
    color: var(--color-text);
}

.link {
    text-decoration: none;
    color: inherit;
}
.sublist {
    list-style: upper-alpha;
    color: var(--color-text);
}

.buttons {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .headerTitle {
        font-size: 1.8rem;
    }
    .headerText {
        font-size: 1rem;
    }
    .list {
        font-size: 1.2rem;
    }
    .topicNameText {
        font-size: 1.2rem;
    }
    .topicText {
        font-size: 1rem;
    }
}