.container {
    position: relative;
    min-height: 100vh;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #2a3451;
    position: relative;
    height: 90px;
    z-index: 10;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    box-sizing: border-box;
}

.search {
    position: relative;
}

.searchText {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.searchTitle {
    margin-right: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.main {
    position: relative;
    padding-top: 1rem;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: calc(100%/5);
    flex-shrink: 0;
}

@media only screen and (max-width: 2000px) {
    .item {
        width: calc(100%/4);
    }
}

@media only screen and (max-width: 1400px) {
    .item {
        width: calc(100%/3);
    }
}

@media only screen and (max-width: 850px) {
    .item {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
}