.container {
    background-color: #a41034;
    position: relative;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    position: relative;
    padding: 0 2rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

.text {
    font-size: 1.1rem;
    line-height: 140%;
    color: #ffffff;
    margin: 0;
}
